<div>
  <h3>List Inventaris</h3>
  <br>
  <h4>Laboratorium:</h4>
  <select title="LabIn" class="form-control select2" style="width: 10%;" (change)="selectLab($event.target.value)">
    <option selected disabled hidden>Pilih Lab</option>
    <option value="RPL">RPL</option>
    <option value="NCC">NCC</option>
    <option value="KCV">KCV</option>
    <option value="LP">LP</option>
    <option value="AJK">AJK</option>
    <option value="IGS">IGS</option>
    <option value="MIS">MIS</option>
    <option value="LP2">LP 2</option>
    <option value="ALPRO">ALPRO</option>
    <option value="MI">MI</option>
  </select>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <div class="scrollable">
          <div class="table-responsive">
            <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
              <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Deskripsi</th>
                <th>Status</th>
                <th>Aksi</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let inventory of inventoryData$ | async; index as i">
                <td>{{i + 1}}</td>
                <td>{{inventory.name}}</td>
                <td>{{inventory.spec}}</td>
                <td>{{inventory.status}}</td>
                <td>
                  <a href="peminjaman/{{inventory.id}}">
                    <button class="btn btn-success btn-sm"><i>Pinjam</i></button>
                  </a>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="7">
                  <div class="text-right">
                    <ul class="pagination"></ul>
                  </div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
