<div class="row">
  <div class="col-lg-8 mx-auto">
    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
    <form name="sentMessage" id="contactForm" novalidate="novalidate"
          (submit)="submitReservation($event.target[0].value, $event.target[1].value, $event.target[2].value)">
      <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
          <h3>Tanggal Pesan : </h3>
          <input class="form-control" id="rmk" type="date" placeholder="" required
                 data-validation-required-message="Masukkan RMK yang anda tekuni."/>
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
          <h3>Tanggal Kembali :</h3>
          <input class="form-control" id="dosen" type="date" placeholder="" required
                 data-validation-required-message="Masukkan nama dosen pembimbing 1 atau 2 anda."/>
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
          <h3>Alasan :</h3>
          <input class="form-control" id="message" type="text" placeholder="" required="required"
                 data-validation-required-message="Masukkan barang yang ingin anda pinjam."/>
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <br>
      <div id="success"></div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Kirim</button>
      </div>
    </form>
  </div>
</div>
